<div class="container text-center mt-5">
  <h1>500 - Internal Server Error</h1>
  <p class="lead mt-4">Something went wrong on our end. This is likely because you're trying to access database functionality which is disabled in this demo.</p>
  <div class="mt-4">
    <a href="/" class="btn btn-primary">Return to Home Page</a>
  </div>
  <div class="mt-5 alert alert-info">
    <p><strong>Note:</strong> This application is running in demo mode without a database. Some features may not be fully functional.</p>
    <p>You can still view the interface and navigation, but operations that require database access will not work.</p>
  </div>
</div> 